<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        
        <h4>Usuario</h4>      
        
        
        <div class="cartform">
           
            <div class="line">
                
            </div>
            
            
            <form  action="/users/delete/<%= userToDel.id %>" method="POST">
            <article class="art">
                <div class="item">
                    <a class="img" ><img src="/Img/users/<%= userToDel.image %>" alt="arroz" width="100px"></a>
                
                    </div>
                    <div  class="item-2">                
                <h4><%= userToDel.firstName %> <%= userToDel.lastName %></h4>
                               
                </div>
                
                <div class="deleteItem">
                    
                    <button type="submit">Eliminar Usuario</button>
                
                </div>
            </form>
                
            </article>
            <div class="line">
                
            </div>
           
    </div>
    
</main>



    <%- include('./partials/footer.ejs') %>
</body>
</html>