<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
        <main class="formProduct">
            <h2>Creacion de perfil</h2>
            <form action="/users/edit?_method=PUT" method="POST">
                <input type="text" name="firstName" id="firstName" value="<%= userToEdit.firstName %> " >

                <input type="text" name="lastName" id="lastName" value="<%= userToEdit.lastName %> " >
                           
                <input type="email" name="email" id="email" value="<%= userToEdit.email %> ">
                 
                <input id="pass" type="password" name="password" id="password" value="<%= userToEdit.password %> " >

                <label for="photo">Foto de Perfil</label>
                <input type="file"  accept="image/*" name="image" id="image">  

                    <button class="btn" type="submit">Editar Perfil</button>



            </form>
           
        </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>