<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        
        <h4>Listado de Productos</h4>
        <% if (locals.adminLogged) { %>
            <div class="buttonsCreate">
                <a href="/products/create"><button class="btn">agregar Producto</button></a>            
            </div>
        <% } %>
        <div class="cartform">           
            <div class="line">
            </div>
            <% enviarVista.forEach(function(enviarVista){ %>
            <article class="art">
                <div class="item col4">
                    <a class="img" href="/products/<%= enviarVista.id %>"><img src="/Img/productos png/<%= enviarVista.image %>" alt="arroz" width="100px"></a>
                </div>
                <div  class="item-2 col4">
                    <h4><%= enviarVista.nameProd %></h4>
                </div>
                <div class="item-4 col4">
                    <h4>Precio</h4>
                    <!-- <textarea name="price" id="" cols="5" rows="1"><%= enviarVista.price %></textarea> -->
                    <span ><%= enviarVista.price %></span>
                </div>
                <% if (locals.adminLogged) { %>
                <div class="buttons col4">
                    <a href="/products/edit/<%= enviarVista.id %>"><button class="btn">Editar Producto</button></a>
                    <a href="/products/erase/<%= enviarVista.id %>"><button class="btn">Eliminar Producto</button></a>
                </div>
                <% } %>
                <% if (!locals.adminLogged) { %>
                <form class="addCart col4" method="POST" action="/carrito/addCarrito">
                    
                    <input type="hidden" name="id" id="id" value="<%= enviarVista.id %>" >
                    <input type="hidden" name="img" id="img" value="/Img/productos png/<%= enviarVista.image %>" >
                    <input type="hidden" name="descProducto" id="descProducto" value="<%= enviarVista.nameProd %> "">
                    <input type="hidden" name="precio" id="precio" value=<%= enviarVista.price %> >
                    
                    <p><button class="btn" type="submit">Agregar al Carrito</button></p>
                  </form>
                  <% } %>
            </article>
            <div class="line">
            </div>
            <% }); %>
        </div>
        <%- include('./partials/section.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>