<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/header.ejs') %>

    <main>
      <section>
      <article class="arti">
        <img class="artiImg" src="/Img/productos png/<%= prodFound.image %>" alt="arroz" >
        <div class="divprod">
          <p class="ofer">Oferta <%= prodFound.price %>  </p>
          <p class="discount">Descuento 15% Off</p>
        </div>
        <form action="cantidad">
          <label class="many">Ingrese Cantidad</label>
          <input type="number" min="0" max="100"  value="cant" />
        </form>
        <div class="add">
        <button type="submit"> Agregar</button>
      </div>
      </article>
      <span>
        <h2>Descripcion</h2>

<table>
  <tr>
    <th>Caracteristicas</th>
    
  </tr>
  <tr>
    <td>Producto: <%= prodFound.nameProd %></td>
    
  </tr>
  <tr>
    <td>Descripcion: <%= prodFound.description %></td>
    

  </tr>
  <tr>
    <td>Categoria:<%= prodFound.category %></td>
    
    
  </tr>
</table>
          
      </span>





    </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
