<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
    <main class="cart">
        <%- include('./partials/section.ejs') %>
        <h4>Listado de Productos</h4>
        <% if (locals.adminLogged) { %>
            <div class="buttons">
                <a href="/products/create"><button class="btn">agregar Producto</button></a>            
            </div>
        <% } %>
        <div class="cartform">           
            <div class="line">
            </div>
            <% enviarVista.forEach(function(enviarVista){ %>
            <article class="art">
                <div class="item">
                    <a class="img" href="/products/<%= enviarVista.id %>"><img src="/Img/productos png/<%= enviarVista.image %>" alt="arroz" width="100px"></a>
                </div>
                <div  class="item-2">
                    <h4><%= enviarVista.nameProd %></h4>
                </div>
                <div class="item-4">
                    <h4>Precio</h4>
                    <textarea name="price" id="" cols="5" rows="1"><%= enviarVista.price %></textarea>
                </div>
                <% if (locals.adminLogged) { %>
                <div class="buttons">
                    <a href="/products/edit/<%= enviarVista.id %>"><button class="btn">Editar Producto</button></a>
                    <a href="/products/erase/<%= enviarVista.id %>"><button class="btn">Eliminar Producto</button></a>
                </div>
                <% } %>
                <% if (locals.isLogged) { %>
                    <div class="buttons">
                    <button class="item-button btn btn-primary addToCart">Agregar</button>
                    </div>  
                    <% } %>

            </article>
            <div class="line">
            </div>
            <% }); %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>