<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %>
        <main class="formProduct">
            <h2>Creacion de perfil</h2>
            
            <div class="campo">
            <% if (locals.errors) {
                errors.forEach(error => { %>
                    <h7> <%= error.msg %> </h7><br>
                    <%  })
                }
                %>
            </div> 
            
            <form action="/users/create" method="POST" enctype="multipart/form-data" id="register">
                
                <input type="text" name="firstName" id="firstName" placeholder="Nombre" value="<%= locals.old && old.firstName ? old.firstName : ''%>">
               
                <input type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : ''%>">
                           
                <input type="email" name="email" id="email" placeholder="E-Mail" value="<%= locals.old && old.email ? old.email : ''%>">
                 
                <input id="pass" type="password" name="password" id="password" placeholder="Contraseña" >

                <label for="photo">Foto de Perfil</label>
                <input type="file"  accept="image/*" name="image" id="image">  

                    <button class="btn" type="submit">Crear Perfil</button>



            </form>
           
        </main>
        <script src= "/js/validator.js"></script>  
    <%- include('./partials/footer.ejs') %>
</body>

</html>